.header,.main,.footer {
  border:1px solid red
}

* {
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: Circular;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light.woff2')
      format('woff2'),
    url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light.woff')
      format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Circular;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-black.woff2')
      format('woff2'),
    url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-black.woff')
      format('woff');
  font-weight: 900;
  font-style: normal;
}

:root {
  /*COLORS*/
  --dark-color: black;
  --light-color: white;
  --primary-color: green;
  /*FONTS*/
  --primary-font: Arial, sans-serif;
}

html {
  font-family: var(--primary-font);
}

.header {
  background-color: var(--dark-color);
  color: var(--light-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px
}

.primary-menu{
  display: flex;
}