<main class="page__main">
  <div class="wrapper">
    <article class="post">
      <h2>Título del post</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed ullamcorper mauris. Aliquam hendrerit sapien dui, quis gravida nisl congue nec. Sed tortor massa, varius sed sapien sed, tristique vestibulum lacus. Nam lobortis tempus erat, ac dignissim ipsum tristique ac. Integer mattis diam vel iaculis faucibus. In hac habitasse platea dictumst. Etiam sodales tincidunt faucibus. Sed rutrum commodo finibus. Donec vitae blandit enim.
      </p>
    </article>
    <article class="post">
      <h2>Título del post</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed ullamcorper mauris. Aliquam hendrerit sapien dui, quis gravida nisl congue nec. Sed tortor massa, varius sed sapien sed, tristique vestibulum lacus. Nam lobortis tempus erat, ac dignissim ipsum tristique ac. Integer mattis diam vel iaculis faucibus. In hac habitasse platea dictumst. Etiam sodales tincidunt faucibus. Sed rutrum commodo finibus. Donec vitae blandit enim.
      </p>
    </article>
    <article class="post">
      <h2>Título del post</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed ullamcorper mauris. Aliquam hendrerit sapien dui, quis gravida nisl congue nec. Sed tortor massa, varius sed sapien sed, tristique vestibulum lacus. Nam lobortis tempus erat, ac dignissim ipsum tristique ac. Integer mattis diam vel iaculis faucibus. In hac habitasse platea dictumst. Etiam sodales tincidunt faucibus. Sed rutrum commodo finibus. Donec vitae blandit enim.
      </p>
    </article>
  </div>
</main>
